/*
## Colors

### Primary
 --color-primary: #080808;//black

 ###Secondary
--color-secondary: #888888;//gray

### Tertiary
--color-tertiary: #ffffff;//white

### Neutral
--color-neutral: #efefef;//light gray.Runs through entire doc

*/
:root {
  --color-primary: #080808;
  --color-secondary: #888888;
  --color-neutral: #efefef;
  --color-tertiary: #ffffff; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 40.625%; }
  @media only screen and (min-width: 18.75em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 75em) {
    html {
      font-size: 62.5%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  min-height: 100vh;
  background: var(--color-neutral);
  display: flex;
  justify-content: center;
  align-items: center; }

body {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.19; }

.form__heading-main {
  font-size: 3.2rem;
  font-weight: inherit; }

.form__heading-sub {
  font-size: 2rem;
  font-weight: inherit; }

.form__label {
  font-size: 1.3rem;
  font-weight: inherit; }
  .form__label-radio {
    font-size: 1.1rem;
    font-weight: inherit; }
  .form__label-file {
    font-size: 1.5rem;
    font-weight: inherit; }

.button-send {
  font-size: 1.8rem;
  font-weight: inherit; }

.form__container {
  display: grid;
  place-items: center; }

.form__heading-main {
  margin-bottom: 1.3rem;
  text-align: center; }

.form__heading-sub {
  text-align: center; }

.form {
  margin: 5.2rem 0;
  display: grid;
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  grid-template-rows: repeat(3, minmax(4.8rem, min-content)) 4.8rem minmax(6.7rem, min-content) minmax(4rem, min-content) minmax(4.8rem, min-content);
  grid-template-columns: repeat(4, minmax(4.8rem, min-content));
  grid-row-gap: 3.4rem;
  grid-column-gap: 2rem; }
  .form__label {
    align-self: center; }
  .form__input {
    border: 1px solid var(--color-secondary);
    opacity: 0.5;
    border-radius: 0.5rem; }
    .form__input:focus {
      outline: none; }
  .form__input::-webkit-input-placeholder {
    padding-left: 1rem;
    font-size: 1.1rem; }
  .form__label-project {
    display: flex; }
  .form__label-radio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-secondary);
    border-radius: 0.5rem;
    cursor: pointer; }
  .form__label-file {
    opacity: 0.5; }
  .form__input-name {
    grid-row: 1 /2;
    grid-column: 2/-1; }
  .form__input-email {
    grid-column: 2/-1; }
  .form__input-organisation {
    grid-column: 2/-1; }
  .form__input-radio {
    grid-column: 2/-1;
    display: flex;
    justify-content: space-between; }
    .form__input-radio > :not(:last-child) {
      margin-right: 1rem; }
  .form__input-radioButton:checked + .form__label-radio {
    opacity: 0.5; }
  .form__input-project {
    grid-column: 2/3;
    border: none;
    transform: translateY(-1rem); }
  .form__input-projectFile {
    opacity: 0;
    transform: translateY(-0.5rem); }
  .form__input-text {
    grid-column: 2/-1; }
  .form__submit {
    grid-column: 1/-1;
    opacity: 1; }

[type='radio'] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* the basic, unchecked style */
.button-close {
  width: 1.28rem;
  height: 1.28rem;
  border: none;
  outline: none;
  color: var(--color-secondary);
  cursor: pointer;
  transition: all 0.2s;
  backface-visibility: none; }
  .button-close:active {
    transform: translateY(2px); }

.button-send {
  border: 0;
  text-align: center;
  color: var(--color-tertiary);
  border-radius: 0.5rem;
  background-color: var(color-primary);
  background-image: linear-gradient(to top left, var(--color-primary), var(--color-primary));
  cursor: pointer;
  transition: all 0.2s; }
  .button-send:active {
    transform: translateY(2px); }

.header {
  display: grid;
  place-items: center;
  margin: 0 3rem; }
  .header__button-close {
    justify-self: end; }
