/*
## Colors

### Primary
 --color-primary: #080808;//black

 ###Secondary
--color-secondary: #888888;//gray

### Tertiary
--color-tertiary: #ffffff;//white

### Neutral
--color-neutral: #efefef;//light gray.Runs through entire doc

*/
:root {
  --color-primary: #080808;
  --color-secondary: #888888;
  --color-neutral: #efefef;
  --color-tertiary: #ffffff;
}
