.header {
  display: grid;
  place-items: center;
  margin: 0 3rem;

  &__button-close {
    justify-self: end;
  }
}

.header__heading {
  &-main {
  }

  &-sub {
  }
}

.form__heading-main {
}

.form__heading-sub {
}

.button-close {
  width: 1.28rem;
  height: 1.28rem;
  border: none;
  outline: none;
  color: var(--color-secondary);
  cursor: pointer;
  transition: all 0.2s;
  backface-visibility: none;

  // &:hover {
  //   transform: translateY(-1px);
  // }
  &:active {
    transform: translateY(2px);
  }
}

// .button-send {
//   color: var(--color-tertiary);
//   background: var(color-primary);
// }
.button-send {
  border: 0;
  text-align: center;
  color: var(--color-tertiary);

  border-radius: 0.5rem;
  background-color: var(color-primary);
  background-image: linear-gradient(
    to top left,
    var(--color-primary),
    var(--color-primary)
  );
  // box-shadow: inset 2px 2px 3px rgba(48, 26, 26, 0.6),
  //   inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
