body {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.19;
}

.form {
  &__heading-main {
    font-size: 3.2rem;
    font-weight: inherit;
    // font: normal normal 800 30px/38px Mulish;
  }

  &__heading-sub {
    font-size: 2rem;
    font-weight: inherit;
    // font: normal normal bold 20px/25px Mulish;
  }

  &__label {
    font-size: 1.3rem;
    font-weight: inherit;

    &-radio {
      font-size: 1.1rem;
      font-weight: inherit;
    }
    &-file {
      font-size: 1.5rem;
      font-weight: inherit;
    }
  }
}

.button-send {
  font-size: 1.8rem;
  font-weight: inherit;
}
